@model SidebarUserInfoViewModel
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <img class="rounded-circle me-lg-2" src="@Model.ImageUrl" alt="" style="width: 40px; height: 40px;">
        <span class="d-none d-lg-inline-flex">@Model.UserName</span>
    </a>
    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
        <a href="#" class="dropdown-item">My Profile</a>
        <a href="#" class="dropdown-item">Settings</a>
        <a asp-area="" asp-controller="Account" asp-action="Logout" class="dropdown-item">Log Out</a>
    </div>
</div>