@model AddProjectViewModel
<form asp-controller="Home" asp-action="CreateProject" method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <input asp-for="Name" />
        <label asp-for="Name"></label>
    </div>
    <div class="mb-3">
        <input asp-for="Description" />
        <label asp-for="Description"></label>
    </div>
    <div class="mb-3">
        <select asp-for="Priority">
            <option value="0">Low</option>
            <option value="1">Medium</option>
            <option value="2">High</option>
            <option value="3">Critical</option>
        </select>
    </div>
    <div class="mb-3">
        <select asp-for="Status">
            <option value="0">Continues</option>
            <option value="1">Done</option>
            <option value="2">Stuck</option>
            <option value="3">OnHold</option>
        </select>
    </div>
    <button class="btn btn-success" type="submit">Oluştur</button>
</form>

