<div class="container-fluid pt-4 px-4 h-100">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h1 class="mb-4 display-6">Admin Panel Ana Sayfası</h1>
            </div>
        </div>
    </div>
</div>
