<!-- Footer Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                &copy; <a asp-area="Customer" asp-controller="Home" asp-action="Index">Yonetimsell</a>, All Right Reserved. Berkay Baransel BAYIR.
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->