<!-- Navbar Start -->
<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <div class="navbar-nav align-items-center ms-auto">
        @await Component.InvokeAsync("MessageNotification")
        @await Component.InvokeAsync("FriendRequestNotification")
        @await Component.InvokeAsync("CustomerNavbarUserInfo")
    </div>
</nav>
<!-- Navbar End -->