        <!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="/Admin" class="navbar-brand ms-2 mb-3">
            <h3 class="text-primary">Admin Panel</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Jhon Doe</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/" target="_blank" class="nav-item nav-link"><i class="fas fa-home me-2"></i>Ana Sayfa</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-users me-2"></i>Kullanıcılar</a>
                <div class="dropdown-menu bg-transparent border-0 ms-3">
                    <a asp-area="Admin" asp-controller="User" asp-action="Index" class="dropdown-item"><i class="fas fa-list me-2"></i> Kullanıcı Listesi</a>
                    <a asp-area="Admin" asp-controller="User" asp-action="AddUser" class="dropdown-item"><i class="fas fa-plus me-2"></i> Kullanıcı Ekle</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-users me-2"></i>Roller</a>
                <div class="dropdown-menu bg-transparent border-0 ms-3">
                    <a asp-area="Admin" asp-controller="Role" asp-action="Index" class="dropdown-item"><i class="fas fa-list me-2"></i> Rol Listesi</a>
                    <a asp-area="Admin" asp-controller="Role" asp-action="AddRole" class="dropdown-item"><i class="fas fa-plus me-2"></i> Rol Ekle</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Sidebar End -->