@model ChangePasswordViewModel
<!-- Sign In Start -->
<div class="container-fluid">
    <div class="row h-100  justify-content-start" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h3>Şifre değiştir</h3>
                </div>
                <form asp-area="Customer" asp-controller="Account" asp-action="ChangePassword" method="post">
                    <div class="col-md-12 text-danger" asp-validation-summary="All"></div>
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="CurrentPassword">
                        <label asp-for="CurrentPassword"></label>
                    </div>
                    <div class="form-floating mb-4">
                        <input class="form-control" asp-for="NewPassword">
                        <label asp-for="NewPassword"></label>
                    </div>
                    <div class="form-floating mb-4">
                        <input class="form-control" asp-for="ReNewPassword">
                        <label asp-for="ReNewPassword"></label>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Şifreyi değiştir</button>
                </form>
            </div>
        </div>
    </div>
</div>