            <!-- Navbar Start -->
<nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
    <a href="/Admin" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fas fa-home"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <div class="navbar-nav align-items-center ms-auto">
        @await Component.InvokeAsync("AdminMessageNotification")
        @await Component.InvokeAsync("AdminFriendRequestNotification")
        @await Component.InvokeAsync("AdminNavbarUserInfo")
    </div>
</nav>
<!-- Navbar End -->