@model LoginViewModel
        <!-- Sign In Start -->
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="/" class="">
                        <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Yonetimsell</h3>
                    </a>
                    <h3>Giriş Yap</h3>
                </div>
                <form asp-area="" asp-controller="Account" asp-action="Login" method="post">
                    <div class="col-md-12 text-danger" asp-validation-summary="All"></div>
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="Username">
                        <label asp-for="Username"></label>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-4">
                        <input class="form-control" asp-for="Password">
                        <label asp-for="Password"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="form-check">
                            <input  class="form-check-input" asp-for="RememberMe">
                            <label class="form-check-label" asp-for="RememberMe"></label>
                        </div>
                        <a href="">Şifremi Unuttum</a>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Giriş yap</button>
                    <p class="text-center mb-0">Hesabınız yok mu? <a href="">Üye olun</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Sign In End -->